@define-color accent_color #d8647e;
@define-color accent_bg_color #d8647e;
@define-color accent_fg_color #cdcdcd;

@define-color destructive_color #d8647e;
@define-color destructive_bg_color #252530;
@define-color destructive_fg_color #f3be7c;

@define-color success_color #7fa563;
@define-color success_bg_color #252530;
@define-color success_fg_color #cdcdcd;

@define-color warning_color #f3be7c;
@define-color warning_bg_color #606079;
@define-color warning_fg_color #cdcdcd;

@define-color error_color #d8647e;
@define-color error_bg_color #252530;
@define-color error_fg_color #f3be7c;

@define-color window_bg_color #141415;
@define-color window_fg_color #cdcdcd;

@define-color view_bg_color #141415;
@define-color view_fg_color #cdcdcd;

@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color headerbar_border_color @window_bg_color;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color @window_bg_color;

@define-color card_bg_color #252530;
@define-color card_fg_color #cdcdcd;
@define-color card_shade_color rgba(255, 255, 255, 0.07);

@define-color dialog_bg_color @card_bg_color;
@define-color dialog_fg_color @card_fg_color;

@define-color popover_bg_color @card_bg_color;
@define-color popover_fg_color @card_fg_color;

@define-color shade_color rgba(255, 255, 255, 0.10);
@define-color scrollbar_outline_color rgba(110, 148, 178, 0.3);

@define-color sidebar_bg_color #252530;
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_bg_color;

.navigation-sidebar {
	background-color: @sidebar_bg_color;
	color: @window_fg_color;
}

headerbar.default-decoration {
  margin-bottom: 50px;
  margin-top: -100px;
}

window.csd,
window.csd decoration {
  box-shadow: none;
}
menu,
.csd .menu,
.csd .dropdown,
.csd .context-menu {
    border-radius: 0px;
}
