#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    draw_borders: false,
    show_song_table_header: false,
    symbols: (song: "🎵", dir: "📁", playlist: "🎼", marker: "\u{e0b0}"),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "1",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    progress_bar: (
        symbols: ["", "", "", "", ""],
        track_style: (bg: "black"),
        elapsed_style: (fg: "light_magenta", bg: "black"),
        thumb_style: (fg: "light_magenta", bg: "black"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "light_blue"),
    ),
    browser_column_widths: [20, 38, 42],
    text_color: "white",
    background_color: "black",
    header_background_color: "black",
    modal_background_color: None,
    modal_backdrop: false,
    tab_bar: (
        active_style: (fg: "black", bg: "light_magenta", modifiers: "Bold"),
        inactive_style: ()
    ),
    borders_style: (fg: "dark_gray"),
    highlighted_item_style: (fg: "light_magenta", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "light_blue", modifiers: "Bold"),
    highlight_border_style: (fg: "light_blue"),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "light_blue"), default: (kind: Text("Unknown"))),
            width: "50%",
            alignment: Right,
        ),
        (
            prop: (kind: Text("-"), style: (fg: "light_blue"), default: (kind: Text("Unknown"))),
            width: "1",
            alignment: Center,
        ),
        (
            prop: (kind: Property(Title), style: (fg: "cyan"), default: (kind: Text("Unknown"))),
            width: "50%",
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "light_blue", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "light_blue", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "light_blue", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "light_yellow", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "light_yellow", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Title)), style: (fg: "cyan", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "cyan", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "light_blue", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "light_blue", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "light_blue", modifiers: "Bold"))
                ]
            )
        ],
    ),
)

